* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    min-height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3), 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    z-index: 100;
}

nav > a {
    color: #000;
    text-decoration: none;
    font-size: 1.25rem;
    padding: 1%;
}

header {
    min-height: 20rem;
    background-color: rgb(51, 8, 44);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 7%;

}

.header__title {
    font-size: 4rem;
    color: #fff;
}

.header__title > span {
    opacity: 0;
    transition: all 0.4s ease;
}

.header__title > span.appear {
    opacity: 1;
}

.header__description {
    margin-top: 2%;
    font-size: 1.25rem;
    color: #bbb;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.9s ease;
}

.slide {
    opacity: 1;
    transform: translateY(0px);
}

#paintings {
    padding-top: 150px;
}

#container__title {
    font-size: 4rem;
    color: #bbb;
    text-align: center;
    margin-bottom: 5rem;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-column-gap: 200px;
    grid-row-gap: 200px;
    border: 1px solid red;
    width: 60%;
    margin: auto;
}

.container .item {
    place-self: center;
}

.item > img {
    max-width: 100%;
}